tools/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
tools/libav/avformat.lib filter=lfs diff=lfs merge=lfs -text
tools/libav/avresample.lib filter=lfs diff=lfs merge=lfs -text
tools/libav/libogg-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/swscale.lib filter=lfs diff=lfs merge=lfs -text
tools/libav/avcodec-57.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avprobe.exe filter=lfs diff=lfs merge=lfs -text
tools/libav/libopus-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avfilter.lib filter=lfs diff=lfs merge=lfs -text
tools/libav/avplay.exe filter=lfs diff=lfs merge=lfs -text
tools/libav/libopencore-amrwb-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/libvorbisenc-2.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/libx264-148.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avdevice-56.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/libvorbisfile-3.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avformat-57.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avfilter-6.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avresample-3.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avutil-55.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/libopencore-amrnb-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/libvo-amrwbenc-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avconv.exe filter=lfs diff=lfs merge=lfs -text
tools/libav/libmp3lame-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/libvorbis-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avcodec.lib filter=lfs diff=lfs merge=lfs -text
tools/libav/zlib1.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avutil.lib filter=lfs diff=lfs merge=lfs -text
tools/libav/libvo-aacenc-0.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/swscale-4.dll filter=lfs diff=lfs merge=lfs -text
tools/libav/avdevice.lib filter=lfs diff=lfs merge=lfs -text
